:root {
  --color-principal: #1399a6;
  --color-principal-hover: #0f7f8a;
  --color-secundario: #0b5f68;
}
.barra-superior-minimal {
  width: 100%;
  padding: 10px 20px;
}

.barra-superior-minimal__contenido {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logos */
.logo-izquierdo img,
.logo-derecho img {
  height: 100px;
  object-fit: contain;
  border-radius: 10px;
}
.logo-izquierdo img,
.logo-derecho img {
  height: 100px;
  object-fit: contain;
  opacity: 0.95;
  transition: transform 0.2s ease;
}

.logo-izquierdo img:hover,
.logo-derecho img:hover {
  transform: scale(1.05);
}